#rememberLoginCheckbox {
  float: right;
}
#signGoogleButton {
  float: left;
  left: 0;
  position: absolute;
  margin-left: 1em;
}
.modalCore {
  background-color: #212529;
  color: #f1f1f2;
  border-color: #3e444b;
}
.modalHeader {
  background-color: #3e444b;
  color: #f1f1f2;
  border: 0;
}
.modalButtons {
  background-color: #212529;
  border: 0.1em solid #00a4a4;
}
.modalError {
  color: #fc4242;
  font-size: 0.8em;
}
.modalInput {
  margin-bottom: 0.7em;
}
.modalButtons:hover {
  background-color: #00a4a4;
}
.modalCheckbox input:checked {
  background-color: #00a4a4;
}
#signGoogleButton:active,
#signInButton:active {
  background-color: #212529;
  border: 0.1em solid #00a4a4;
}
#signUpButton {
  border: 0.1em solid #5d656e;
}
#signUpButton:hover {
  background-color: #5d656e;
}
#signUpButton:active {
  background-color: #212529;
  border: 0.1em solid #5d656e;
}
#googleIcon {
  font-size: 1.1em;
  margin-right: 0.4em;
  padding-bottom: 0.2em;
}
#signUpAgreeText {
  color: #f1f1f2;
}

.canvasNewButton {
  color: #212529;
  cursor: pointer;
  font-size: 2.1em;
  margin-right: 0.1em;
  margin-left: 0.2em;
}
.canvasNewButton:hover {
  color: #dfdfdf;
}
.canvasNew {
  background-color: #00a4a4;
  display: none;
  border-radius: 1em;
  height: 2.1em;
  margin-top: 0.2em;
  margin-right: 0.2em;
  width: 12em;
}
#deleteCanvasButton {
  border: 0.1em solid #fc4242;
}
#deleteCanvasButton:hover {
  background-color: #fc4242;
}
.deleteCanvasModalText {
  font-size: 2em;
}
@media (max-width: 990px) {
  #canvasPlusButton {
    display: none;
  }
  #canvasEditButton {
    display: none;
  }
  .canvasNew {
    width: auto;
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 5em;
    display: flex;
  }
}
