* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
  font-size: small;
}

body {
  background-color: dimgrey;
}
#signIn {
  cursor: pointer;
  color: #f1f1f2;
  font-weight: bold;

  padding-left: 2em;
  padding-right: 2em;
  border-left: solid 2px #f2f2f2;
}
#signIn:hover {
  color: #c1c1c1;
}

#saveCanvas {
  color: #212529;
  font-weight: bold;
  margin-right: 2em;
  margin-left: 1.5em;
}
.dropdownBtn {
  background-color: #00a4a4;
  color: #212529;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 0;
  width: 10em;
}
.dropdownBtn.show {
  background-color: #008686;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #8fc2c2;
  color: white;
}
.brand {
  margin-left: 0.5em;
}

@media (max-width: 990px) {
  .rightNav {
    display: block;
    text-align: center;
  }
  #signIn {
    border: 0;
    margin: 0;
    padding: 0;
  }
  #saveCanvas {
    margin: 0;
  }
  .mobileButton {
    margin: 1em;
  }
}
