* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
  font-size: small;
}

body {
  background-color: dimgrey;
}
#signIn {
  cursor: pointer;
  color: #f1f1f2;
  font-weight: bold;

  padding-left: 2em;
  padding-right: 2em;
  border-left: solid 2px #f2f2f2;
}
#signIn:hover {
  color: #c1c1c1;
}

#saveCanvas {
  color: #212529;
  background-color: #f2f2f2;
  font-weight: bold;
  margin-right: 2em;
  margin-left: 2em;
  width: 6em;
}
#saveCanvas:hover {
  background-color: #d4d4d4;
}
#canvasDropdownBtn {
  background-color: #00a4a4;
  color: #212529;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 0;
  width: 10em;
}
#canvasDropdownBtn.show {
  background-color: #008686;
}
.dropdown-item {
  font-weight: bold;
  font-size: smaller;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #00a4a4;
  color: #d4d4d4;
}
.dropdownBackground {
  background-color: #008686;
  border: 0;
}
.brand {
  margin-left: 0.5em;
}
.brand img {
  height: 5.5vh;
}
.canvasOptionsButtons {
  background-color: #00a4a4;
  color: #212529;
  font-weight: bold;
  margin-right: 0.3em;
  width: 2.6em;
}
#canvasDeleteButton:hover,
#canvasDeleteButton:active,
#canvasEditButton:hover,
#canvasEditButton:active,
#canvasReloadButton:hover,
#canvasReloadButton:active {
  background-color: #008686;
  color: #212529;
}
.mobileToggle {
  margin-right: 0.5em;
}
.mobileToggle:focus {
  display: none;
}

@media (max-width: 990px) {
  .canvasOptionsButtons {
    margin-right: 0.2em;
    margin-left: 0.2em;
  }
  .rightNav {
    display: block;
    text-align: center;
  }
  #signIn {
    border: 0;
  }
  #saveCanvas {
    margin: 0;
  }
  .mobileButton {
    margin: 1em;
  }
}
